docker {
    enabled = true
    temp = 'auto'
    runOptions = '-u $(id -u):$(id -g)'
    docker.userEmulation = true
}

profiles {
	standard {
		process.executor	=	'local'
		process.cpus		=	8
		process.memory		=	'16 GB'
	}

	hpc {
		process.executor	=	'local'
		process.cpus		=	128
		process.memory		=	'256 GB'

		executor {
		queueSize = 50
		}
	}
}

params {
	thread			=	8
	phred			=	30
	krakenQC		=	null
	mtb			=	null
	runOptions		=	null

	mtbRef			=	"$baseDir/assets/MtbRefGenomeIndex/H37Rv.fasta"

	ontMinQual		=	10
	ontMinLen		=	1
	ontMaxLen		=	2147483647
	ontHeadCrop		=	0
	ontTailCrop		=	0
	ontBasecallModel	=	"r941_min_fast_g303"

	fastlinKmerSize		=	25
	fastlinMinCount		=	4
	fastlinNBarcodes	=	3
	fastlinMaxCoverage	=	100
}