docker {
    enabled = true
    temp = 'auto'
    runOptions = '-u $(id -u):$(id -g)'
}

profiles {
	standard {
		process.executor	=	'local'
		process.cpus		=	8
		process.memory		=	'16 GB'
	}

	hpc {
		process.executor	=	'local'
		process.cpus		=	32
		process.memory		=	'128 GB'
	}
}

params {
  phred       =       30
  krakenQC    =       null
}